<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quickshot Report</title>
    <meta charset="UTF-8" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <!-- TODO make a new favicon -->
    <!-- <link rel="shortcut icon" href="/image/favicon.ico"> -->

    <!-- CSS -->
    <link href="../css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <article>
      <h1>Quickshot Report from {{when}}</h1>
      {{#msg}}
      <p>{{msg}}</p>
      {{/msg}}
      <section class="wrapper">
        <div>
          <h2>Page</h2>
          <img src="../{{path}}/{{page}}" alt="" title="{{page}}" />
        </div>
        <div>
          <h2>Base Target</h2>
          <img src="../{{path}}/{{base_target}}" alt="" title="{{base_target}}" />
        </div>
        <div>
          <h2>Difference</h2>
          <img src="../{{path}}/{{diff_result}}" alt="" title="{{diff_result}}" />
        </div>
        <div>
          <h2>Flicker</h2>
          <img src="../{{path}}/{{flicker}}" alt="" title="{{flicker}}" />
        </div>
      </section>
    </article>
  </body>
</html>
