<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quickshot Report</title>
    <meta charset="UTF-8" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <!-- TODO make a new favicon -->
    <!-- <link rel="shortcut icon" href="/image/favicon.ico"> -->

    <!-- CSS -->
    <link href="../css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <article>
      <h1>Quickshot Report from {{when}}</h1>
      {{#msg}}
      <p>{{msg}}</p>
      {{/msg}}
      <section class="wrapper">
        <div>
          <h2>{{target_a}}</h2>
          <a href="../{{path}}/{{page_a}}" target="_blank">
            <img src="../{{path}}/{{page_a}}" alt="" title="{{page_a}}" />
          </a>
        </div>
        <div>
          <h2>{{target_b}}</h2>
          <a href="../{{path}}/{{page_b}}" target="_blank">
            <img src="../{{path}}/{{page_b}}" alt="" title="{{page_b}}" />
          </a>
        </div>
        <div>
          <h2>Difference</h2>
          <a href="../{{path}}/{{diff_result}}" target="_blank">
            <img src="../{{path}}/{{diff_result}}" alt="" title="{{diff_result}}" />
          </a>
        </div>
        {{#flicker}}
        <div>
          <h2>Flicker</h2>
          <a href="../{{path}}/{{flicker}}" target="_blank">
            <img src="../{{path}}/{{flicker}}" alt="" title="{{flicker}}" />
          </a>
        </div>
        {{/flicker}}
      </section>
    </article>
  </body>
</html>
